<div id="gallery-grid" class="flex flex-col gap-3">
    <div id="first-row" class="flex lg:flex-row flex-col lg:justify-center items-center gap-3">
        <img class="lg:w-1/4 w-screen max-w-lg" src="../../assets/cakes/jackDaniels.jpg" alt="Jack Daniels Cake">
        <img class="lg:w-1/4 w-screen max-w-lg" src="../../assets/cookies/bunnies.jpg" alt="Bunny Sugar Cookies">
        <img class="lg:w-1/4 w-screen max-w-lg" src="../../assets/cakes/mrkicBabyShower.jpg" alt="Mrkic Baby Shower Cake">
    </div>
    <div id="second-row" class="flex lg:flex-row flex-col lg:justify-center items-center gap-3">
        <img class="lg:w-1/4 w-screen max-w-lg" src="../../assets/cakes/pinkCakeAndStrawberries.jpg" alt="Pink Cake with Pink Strawberries">
        <img class="lg:w-1/4 w-screen max-w-lg" src="../../assets/cakes/pinkCakeWhiteStrawberries.jpg" alt="Pink Cake with White Strawberries">
        <img class="lg:w-1/4 w-screen max-w-lg" src="../../assets/cakes/trailerParkBoys.jpg" alt="Trailer Park Boys Cake">
    </div>
</div>
