<div id="gallery-grid" class="flex flex-col gap-3">
    <div id="first-row" class="flex justify-center gap-3">
        <img class="w-64" src="../../assets/cakes/jackDaniels.jpg" alt="Jack Daniels Cake">
        <img class="w-64" src="../../assets/cakes/bunnySugarCookies.jpg" alt="Bunny Sugar Cookies">
        <img class="w-64" src="../../assets/cakes/mrkicBabyShower.jpg" alt="Mrkic Baby Shower Cake">
    </div>
    <div id="second-row" class="flex justify-center gap-3">
        <img class="w-64" src="../../assets/cakes/pinkCakeAndStrawberries.jpg" alt="Pink Cake with Pink Strawberries">
        <img class="w-64" src="../../assets/cakes/pinkCakeWhiteStrawberries.jpg" alt="Pink Cake with White Strawberries">
        <img class="w-64" src="../../assets/cakes/trailerParkBoys.jpg" alt="Trailer Park Boys Cake">
    </div>
</div>
