<div id="menu-container" class="flex flex-col gap-10 p-5">
    <div id="cake-menu-container" class="flex flex-col gap-2">
        <div class="text-4xl">
            Cakes
        </div>
        <div id="cake-info-container" class="flex gap-5">
            <div id="cake-image" class="max-w-[300px]">
                <img class="w-screen" src="../../assets/cakes/jackDaniels.jpg" alt="Jack Daniels Cake">
            </div>
            <div id="cake-info" class="flex flex-col gap-2 lg:w-[250px] w-[210px]">
                <div class="w-screen text-xl">
                    Sizes
                </div>
                <div id="cake-pricing-sizes" class="flex flex-col gap-1">
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            6 inch
                        </div>
                        <div class="">
                            <b>Starting at $100</b>
                        </div>
                    </div>
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            8 inch
                        </div>
                        <div class="">
                            <b>Starting at $130</b>
                        </div>
                    </div>
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            10 inch
                        </div>
                        <div class="">
                            <b>Starting at $150</b>
                        </div>
                    </div>
                </div>
                <div class="text-xl">
                    Extras
                </div>
                <div id="cake-pricing-extras" class="flex flex-col gap-1 max-w-[300px]">
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            Small Alcohol Bottle
                        </div>
                        <div class="">
                            <b>(+$10)</b>
                        </div>
                    </div>
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            Custom Flowers
                        </div>
                        <div class="">
                            <b>(+$15)</b>
                        </div>
                    </div>

                    <div class="text-sm">
                        <b>Note</b>. Prices of extras varies greatly depending on the design.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cupcake-menu-container" class="flex flex-col gap-2">
        <div class="text-4xl">
            Cupcakes
        </div>
        <div id="cupcake-info-container" class="flex gap-5">
            <div id="cupcake-image" class="max-w-[300px]">
                <img class="w-screen" src="../../assets/cupcakes/jackDaniels.jpg" alt="Jack Daniels Cake">
            </div>
            <div id="cupcake-info" class="flex flex-col gap-2 lg:w-[250px] w-[210px]">
                <div class="w-screen text-xl">
                    Sizes
                </div>
                <div id="cupcake-pricing-sizes" class="flex flex-col gap-1">
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            1-3 dozen
                        </div>
                        <div class="">
                            <b>Starting at $50 each</b>
                        </div>
                    </div>
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            4+ dozen
                        </div>
                        <div class="">
                            <b>Starting at $40 each</b>
                        </div>
                    </div>
                </div>
                <div class="text-xl">
                    Extras
                </div>
                <div id="cake-pricing-extras" class="flex flex-col gap-1 max-w-[300px]">
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            Fondant w/ image
                        </div>
                        <div class="">
                            <b>(+$2 each)</b>
                        </div>
                    </div>
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            Alcohol Vile
                        </div>
                        <div class="">
                            <b>(+$2 each)</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cakepop-menu-container" class="flex flex-col gap-2">
        <div class="text-4xl">
            Cake Pops
        </div>
        <div id="cakepop-info-container" class="flex gap-5">
            <div id="cakepop-image" class="max-w-[300px]">
                <img class="w-screen" src="../../assets/cakes/jackDaniels.jpg" alt="Jack Daniels Cake">
            </div>
            <div id="cakepop-info" class="flex flex-col gap-2 lg:w-[250px] w-[210px]">
                <div class="w-screen text-xl">
                    Sizes
                </div>
                <div id="cakepop-pricing-sizes" class="flex flex-col gap-1">
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            1-3 dozen
                        </div>
                        <div class="">
                            <b>Starting at $60 each</b>
                        </div>
                    </div>
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            4+ dozen
                        </div>
                        <div class="">
                            <b>Starting at $50 each</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cookie-menu-container" class="flex flex-col gap-2">
        <div class="text-4xl">
            Sugar Cookies
        </div>
        <div id="cookie-info-container" class="flex gap-5">
            <div id="cookie-image" class="max-w-[300px]">
                <img class="w-screen" src="../../assets/cookies/bunnies.jpg" alt="Jack Daniels Cake">
            </div>
            <div id="cookie-info" class="flex flex-col gap-2 lg:w-[250px] w-[210px]">
                <div class="w-screen text-xl">
                    Sizes
                </div>
                <div id="cake-pricing-sizes" class="flex flex-col gap-1">
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            1-3 dozen
                        </div>
                        <div class="">
                            <b>Starting at $40 each</b>
                        </div>
                    </div>
                    <div class="text-sm flex justify-between gap-2">
                        <div class="">
                            4+ dozen
                        </div>
                        <div class="">
                            <b>Starting at $30 each</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>