<div id="menu-container" class="flex flex-col gap-5">
    <div id="cake-menu-container" class="flex flex-col gap-2">
        <div>
            Cakes
        </div>
        <div>
            Info
        </div>
    </div>
    <div id="cupcake-menu-container" class="flex flex-col gap-2">
        <div>
            Cupcakes
        </div>
        <div>
            Info
        </div>
    </div>
    <div id="cakepop-menu-container" class="flex flex-col gap-2">
        <div>
            Cake Pops
        </div>
        <div>
            Info
        </div>
    </div>
    <div id="cookie-menu-container" class="flex flex-col gap-2">
        <div>
            Sugar Cookies
        </div>
        <div>
            Info
        </div>
    </div>
</div>