nav {
    background-color: rgba(241, 196, 190, 0.733);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding-left: 10px; 
    padding-right: 10px;
}