<div id="welcome-container" class="flex justify-center lg:gap-10 gap-3 px-4 pb-10">
    <div class="flex flex-col gap-3">
        <div class="lg:text-4xl text-2xl">
            Welcome to Tena's Treats
        </div>
        <div class="lg:text-lg text-sm">
            Customized sweet deserts <br>
            made by Andrea Vukoje
        </div>
        <a href="https://instagram.com/tenas.treats" target="_blank">
            <img class="w-10" src="../../assets/instagramLogo.png" alt="Instagram Logo">
        </a>
        <div class="lg:text-lg text-sm">
            Check out my instagram
            <a href="https://instagram.com/tenas.treats" target="_blank">
                @tenas.treats
            </a>
        </div>
    </div>
    <div class="lg:max-w-[250px] max-w-[150px]">
        <img class="w-screen" src="../../assets/cakes/jackDaniels.jpg" alt="Jack Daniels Cake">
    </div>
</div>

<div id="menu-container" class="flex flex-col items-center gap-3 pb-10 px-5">
    <div id="menu-options" class="flex justify-center gap-3 pb-2">
        <div class="flex flex-col gap-2 max-w-[375px]">
            <img class="w-screen" src="../../assets/cakes/pinkCakeWhiteStrawberries.jpg" alt="Pink Cake with White Strawberries">
            <p class="text-center">Cakes</p>
        </div>
        <div class="flex flex-col gap-2 max-w-[375px]">
            <img class="w-screen" src="../../assets/cakepops/pinkWhiteCakePops.jpg" alt="Pink and White Cake Pops">
            <p class="text-center">Cupcakes</p>
        </div>
        <div class="flex flex-col gap-2 max-w-[375px]">
            <img class="w-screen" src="../../assets/cookies/elephants.jpg" alt="Elephant Sugar Cookies">
            <p class="text-center">Cookies</p>
        </div>
    </div>

    <div>
        <a routerLink="/menu" class="background bg-pink-300 px-4 py-2 rounded-3xl">SEE MENU</a>
    </div>
    
</div>



<div id="gallery-container" class="flex flex-col items-center gap-2 pb-10">
    <div class="text-3xl">
        Customized to perfection
    </div>

    <div class="flex lg:flex-row flex-col gap-2 px-4">
        <div class="flex gap-2 max-w-xl">
            <div>
                <img class="w-screen" src="../../assets/cakes/jackDaniels.jpg" alt="Jack Daniels Cake">
            </div>
            <div>
                <img class="w-screen" src="../../assets/cakes/trailerParkBoys.jpg" alt="Trailer Park Boys Cake">
            </div>
        </div>
        <div class="flex gap-2 max-w-xl">
            <div>
                <img class="w-screen" src="../../assets/cakes/mrkicBabyShower.jpg" alt="Baby Shower Cake">
            </div>
            <div>
                <img class="w-screen" src="../../assets/cookies/bunnies.jpg" alt="Bunny Sugar Cookies">
            </div>
        </div>
    </div>
    
    <a routerLink="/gallery" class="background bg-pink-300 px-4 py-2 rounded-3xl">SEE MORE</a>


</div>

