<div class="home-container">
    <div class="home-message">
        Welcome to Tena's Treats where we make customized sweet treats. <br>
        These treats include cakes, cheesecakes, cupcakes, sugarcookies, cake-pops and many more! <br>
        Check out my gallery for more pictures of my work. <br>
        For general pricing, check out the pricing page. <br>
        If you wish to make your order, you can use the order now page. <br>
        Also, you can send me a DM on instagram @tenas.treats.
    </div>

    <div class="home-image">
        <img src="../../assets/cakes/jackDaniels.jpg" alt="Jack Daniels Cake">
    </div>
</div>